In [47]:
import pandas as pd
import unicodedata

In [48]:
def format_data(filename):
    df = pd.read_csv(filename)
    
    entire_sup_rent = df[
        (df['Lloguer_mitja'] == 'Lloguer mitjÃ  mensual (Euros/mes)') | 
        (df['Lloguer_mitja'] == 'Lloguer mitjà mensual (Euros/mes)')
    ]['Preu']
    
    m2_rent = df[
        (df['Lloguer_mitja'] == 'Lloguer mitjÃ  per superfÃ­cie (Euros/m2 mes)') | 
        (df['Lloguer_mitja'] == 'Lloguer mitjà per superfície (Euros/m2 mes)')
    ]['Preu']
    

    df = df.drop(df[
        (df['Lloguer_mitja'] == 'Lloguer mitjÃ  per superfÃ­cie (Euros/m2 mes)') |
        (df['Lloguer_mitja'] == 'Lloguer mitjà per superfície (Euros/m2 mes)')
    ].index)

    df = df.drop('Lloguer_mitja', axis=1)
    df = df.drop('Preu', axis=1)


    df['Preu'] = entire_sup_rent.values
    df['PreuM2'] = m2_rent.values
    df.rename(columns = {'Any':'Year'}, inplace = True)

    return df

In [49]:
files = ['2014.csv', '2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', '2020.csv', '2021.csv']

res = pd.DataFrame()
for file in files:
    df = format_data(file)
    res = pd.concat([res, df])
    
res['id'] = [i for i in range(len(res))]
#res[(res['Nom_Districte'] == 'Gràcia') & (res['Year'] == 2021)]

res = res.dropna()
res

,Year,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu,PreuM2,id
0,2014,1,1,Ciutat Vella,1,el Raval,589.55,10.76,0
1,2014,1,1,Ciutat Vella,2,el Barri GÃ²tic,712.79,10.58,1
2,2014,1,1,Ciutat Vella,3,la Barceloneta,540.71,14.4,2
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",673.44,11.01,3
4,2014,1,2,Eixample,5,el Fort Pienc,736.09,10.42,4
...,...,...,...,...,...,...,...,...,...
506,2021,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,1205.3,15.2,2331
507,2021,4,10,Sant Martí,70,el Besòs i el Maresme,700.5,10.8,2332
508,2021,4,10,Sant Martí,71,Provençals del Poblenou,977.8,13.8,2333
509,2021,4,10,Sant Martí,72,Sant Martí de Provençals,826.2,11.7,2334
510,2021,4,10,Sant Martí,73,la Verneda i la Pau,752.0,11.3,2335

In [50]:
res['Nom_Districte'].unique()

array(['Ciutat Vella', 'Eixample', 'Sants-MontjuÃ¯c', 'Les Corts',
       'SarriÃ -Sant Gervasi', 'GrÃ cia', 'Horta-GuinardÃ³', 'Nou Barris',
       'Sant Andreu', 'Sant MartÃ\xad', 'Sants-Montjuïc',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Sant Martí'],
      dtype=object)

In [51]:
right_dis = {
    "Ciutat Vella" : "Ciutat Vella",
    "Eixample" : "Eixample",
    "Sants-MontjuÃ¯c" : "Sants-Montjuïc",
    "Les Corts" : "Les Corts",
    "SarriÃ -Sant Gervasi" : "Sarrià-Sant Gervasi",
    "GrÃ cia" : "Gràcia",
    "Horta-GuinardÃ³" : "Horta-Guinardó",
    "Horta - Guinardó" : "Horta-Guinardó",
    "Nou Barris" : "Nou Barris",
    "Sant Andreu" : "Sant Andreu",
    "Sant MartÃ\xad" : "Sant Martí",
    "Sants-Montjuïc" : "Sants-Montjuïc",
    "Sarrià-Sant Gervasi" : "Sarrià-Sant Gervasi",
    "Gràcia" : "Gràcia",
    "Horta-Guinardó" : "Horta-Guinardó",
    "Sant Martí" : "Sant Martí"
 }

In [52]:
for i in res.index:
    res.at[i,'Nom_Districte'] = right_dis[res.iloc[i]['Nom_Districte']]
res['Nom_Districte'].unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Martí', 'Sant Andreu'], dtype=object)

In [53]:
res

,Year,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Preu,PreuM2,id
0,2014,1,1,Ciutat Vella,1,el Raval,589.55,10.76,0
1,2014,1,1,Ciutat Vella,2,el Barri GÃ²tic,712.79,10.58,1
2,2014,1,1,Ciutat Vella,3,la Barceloneta,540.71,14.4,2
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",673.44,11.01,3
4,2014,1,2,Eixample,5,el Fort Pienc,736.09,10.42,4
...,...,...,...,...,...,...,...,...,...
506,2021,4,10,Eixample,69,Diagonal Mar i el Front Marítim del Poblenou,1205.3,15.2,2331
507,2021,4,10,Eixample,70,el Besòs i el Maresme,700.5,10.8,2332
508,2021,4,10,Eixample,71,Provençals del Poblenou,977.8,13.8,2333
509,2021,4,10,Eixample,72,Sant Martí de Provençals,826.2,11.7,2334
510,2021,4,10,Sants-Montjuïc,73,la Verneda i la Pau,752.0,11.3,2335

In [54]:
res.groupby(['Year','Codi_Barri'], as_index=False).first().reset_index()['Nom_Districte']

0        Ciutat Vella
1        Ciutat Vella
2        Ciutat Vella
3        Ciutat Vella
4            Eixample
            ...
558            Gràcia
559            Gràcia
560            Gràcia
561    Horta-Guinardó
562    Horta-Guinardó
Name: Nom_Districte, Length: 563, dtype: object

In [72]:
res = res[pd.to_numeric(res['Preu'], errors='coerce').notna()]
res = res[pd.to_numeric(res['PreuM2'], errors='coerce').notna()]
res = res.astype({'Preu':'float'})
res = res.astype({'PreuM2':'float'})

In [56]:
tmp = res.groupby(['Year','Codi_Barri'], as_index=False)

     Year  Codi_Barri                                               None
0    2014           1  <bound method DataFrame.aggregate of      Year...
1    2014           2  <bound method DataFrame.aggregate of      Year...
2    2014           3  <bound method DataFrame.aggregate of      Year...
3    2014           4  <bound method DataFrame.aggregate of      Year...
4    2014           5  <bound method DataFrame.aggregate of      Year...
..    ...         ...                                                ...
553  2021          69  <bound method DataFrame.aggregate of      Year...
554  2021          70  <bound method DataFrame.aggregate of      Year...
555  2021          71  <bound method DataFrame.aggregate of      Year...
556  2021          72  <bound method DataFrame.aggregate of      Year...
557  2021          73  <bound method DataFrame.aggregate of      Year...

[558 rows x 3 columns]

In [76]:
res = res.fillna(0.)

tmp = res.groupby(['Year','Codi_Barri']).agg({
    'Preu': ['mean'],
    'PreuM2' : ['mean'],
    'Codi_Districte' : ['first'],
    'Nom_Districte' : ['first'],
    'Nom_Barri' : ['first'],
    'id' : ['first']
})
tmp = tmp.droplevel(1, axis=1)
tmp

                      Preu   PreuM2  Codi_Districte   Nom_Districte  \
Year Codi_Barri
2014 1            578.4075  10.4825               1    Ciutat Vella
     2            748.5000  10.5400               1    Ciutat Vella
     3            563.8125  15.1525               1    Ciutat Vella
     4            684.2125  11.2300               1    Ciutat Vella
     5            724.5200   9.9825               2        Eixample
...                    ...      ...             ...             ...
2021 69          1073.7250  15.7500              10          Gràcia
     70           710.4000  11.3750              10          Gràcia
     71           950.5000  13.4750              10          Gràcia
     72           806.1750  11.4750              10  Horta-Guinardó
     73           743.4750  11.0750              10  Horta-Guinardó

                                                    Nom_Barri    id
Year Codi_Barri
2014 1                                               el Raval     0
     2                                        el Barri GÃ²tic     1
     3                                         la Barceloneta     2
     4                  Sant Pere, Santa Caterina i la Ribera     3
     5                                          el Fort Pienc     4
...                                                       ...   ...
2021 69          Diagonal Mar i el Front Marítim del Poblenou  2112
     70                                 el Besòs i el Maresme  2113
     71                               Provençals del Poblenou  2114
     72                              Sant Martí de Provençals  2115
     73                                   la Verneda i la Pau  2116

[558 rows x 6 columns]

In [77]:
tmp.to_csv('rent_data.csv')

In [79]:
fin = pd.read_csv('rent_data.csv')
fin

,Year,Codi_Barri,Preu,PreuM2,Codi_Districte,Nom_Districte,Nom_Barri,id
0,2014,1,578.4075,10.4825,1,Ciutat Vella,el Raval,0
1,2014,2,748.5000,10.5400,1,Ciutat Vella,el Barri Gòtic,1
2,2014,3,563.8125,15.1525,1,Ciutat Vella,la Barceloneta,2
3,2014,4,684.2125,11.2300,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",3
4,2014,5,724.5200,9.9825,2,Eixample,el Fort Pienc,4
...,...,...,...,...,...,...,...,...
553,2021,69,1073.7250,15.7500,10,Gràcia,Diagonal Mar i el Front Marítim del Poblenou,2112
554,2021,70,710.4000,11.3750,10,Gràcia,el Besòs i el Maresme,2113
555,2021,71,950.5000,13.4750,10,Gràcia,Provençals del Poblenou,2114
556,2021,72,806.1750,11.4750,10,Horta-Guinardó,Sant Martí de Provençals,2115
557,2021,73,743.4750,11.0750,10,Horta-Guinardó,la Verneda i la Pau,2116

In [80]:
fin.to_csv('final_rent.csv')

In [81]:
fin.set_index('id').T.to_json('final.json')

In [60]:
#res.apply(lambda x: print(x.to_json()), axis=1)